/* THEME */
/* :root{
    --primary-color: #FF9B3F;
    --mainTitle-font: 64px;
    --secTitle-font:  48px;
    --thirdTitle-font: 36px;
} */

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll; /* Always show the vertical scrollbar */
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
    /* overflow: overlay; */
}

h2{
    font-size: 30px;
}

h3{
    font-size: 20px;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.mainBtn{
    width: 100%;
    background-color: #FF9B3F;
    border: 1px solid #FF9B3F;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 0;
    cursor: pointer;
}

.mainBtn:hover{
    background-color: white;
    border: 1px solid #FF9B3F;
    color: #FF9B3F;
}